html, body {
    margin: 0;
    padding: 0;
}

.forms {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 15rem;
}

.member-form {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
}

.dropdown {
    text-align: center;
}

#manage-team-form {
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
}

#member-list {
    height: 300px;
    overflow: hidden;
    overflow-y: scroll;
    list-style-type: none;
    border: 1px solid black;
    padding-left: 0px;
}

#member-list * {
    font-size: 1rem;
}

#member-list div {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #eceff4;
}

#remove-member {
    cursor: pointer;
}