#app {
    height: 100vh;
}

* {
    font-family: Arial, Helvetica, sans-serif
}

select, input, button {
    /* animation: pulse 0.9s infinite; */
    padding: 0.3em;
    font-size: 1.2rem;
}

select option {
    padding: 2em;
    font-size: 1rem;
}
